@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
    
}

body
{
    display: flex;
    justify-content: center ;
    align-items: center;
    min-height: 100vh;
    background-image: url("parking.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
      
    }
/* div {
    width: 500px;
    height: 500px;
    display: block;
    flex-wrap: wrap;
    align-content: center;
    background-color: grey; 
  } */
header
{
    text-align: center;
    background: white;    
}
nav
{
    display: flex;
    flex-direction: inline;
    align-items: center;
    justify-content: center;
    height: 40px;
    text-align: center;
    background: white;
}
nav a{
    color: white;
    text-decoration: none;
    margin: 5px;
    background: black;
    padding: 5px;
    border-radius: 2px;
    width: 90px;
    text-align: center;
}
nav a:hover{
    background: white;
    color: rgb(0, 255, 64);

}
section h1
{
    margin-bottom: 20px;
}

section
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 500px;
    background-color: cadetblue;
    border-radius: 1cm;
    box-shadow: 20px 20px 50px rgb(0, 0, 0,1);
    margin-left:20%;
    position:sticky;
}
p
{
    text-align: center;
}
button
{
    padding: 8px;
    margin: 10px;
}
article
{
    background:rgb(128, 128, 245);
    width: 70%;
    float: left;
    height: 200px;
}

footer
{
    clear: both;
    position: relative;  
    height: 550px;
   left: 10%;
}
footer a
{
    font-size: 12px;
    color: white;
    text-decoration: none;
    margin: 5px;
}
footer a:hover
{
    color: black;
}
#copyright{
    color: black;
    margin-bottom: 0%;
    text-decoration: none;
    margin-top: 20%;
}
