@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat',sans-serif;
    
}

body
{
    display: flex;
    justify-content: center ;
    align-items: center;
    min-height: 100vh;
    background-image: url("car3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
h1
{       
    /* position: absolute; */
    /* left: 200px; */
    top: 150px;
    text-align: center;    
}

nav
{
    display: flex;
    flex-direction: inline;
    align-items: center;
    justify-content: center;
    height: 40px;
    text-align: center;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    left: 20%;
}
nav a{
    color: white;
    text-decoration: none;
    margin: 5px;
    background: black;
    padding: 5px;
    border-radius: 2px;
    width: 90px;
    text-align: center;
}
nav a:hover{
    background: white;
    color: rgb(0, 255, 64);

}
section
{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 800px;
    background-color: whitesmoke;
    border-radius: 1cm;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
p
{
    text-align: center;
}
.button1
{
    padding: 8px;
    margin: 10px;
    height: 50px;
    width: 100px;
    position:relative;
    border-radius: 1cm;
    border: none;
    font-size: 10pt; 
    background-color: royalblue;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.button1 a{
    color: black;
    text-decoration: none;
}
.button{
    height: 100px;
    width: 150px;
    border-radius: 40pt;
    background-color: royalblue;
    font-size: 20pt;
    margin-top: 30%;
    margin-right: 1%;
    border:none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.button a{
    color: white;
    text-decoration: none;
}

footer
{
    clear: both;
    position: relative;  
    height: 550px;
}
footer a
{
    font-size: 12px;
    color: white;
    text-decoration: none;
    margin: 5px;
}
footer a:hover
{
    color: black;
}
#copyright{
    
    
}
