@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat',sans-serif;
    
}

body
{
    display: flex;
    justify-content: center ;
    align-items: center;
    min-height: 100vh;
    background-image: url("car3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#welcome{
    top: 0%;
}
header
{
    text-align: center;
    background: white;    
}
#time_selector{
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 5px black;
}
.date_time{
    margin-bottom: 2%;
    margin-top: 2%;
}
#time{
    margin-top: 3%;
    border-radius: 5px;
    border: none;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
nav
{
    display: flex;
    flex-direction: inline;
    align-items: center;
    justify-content: center;
    height: 40px;
    text-align: center;
    background: white;
}
nav a{
    color: white;
    text-decoration: none;
    margin: 5px;
    background: black;
    padding: 5px;
    border-radius: 2px;
    width: 90px;
    text-align: center;
}
nav a:hover{
    background: white;
    color: rgb(0, 255, 64);

}
section h1
{
    margin-bottom: 20px;
}

section
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    background-color: whitesmoke;
    border-radius: 1cm;
}
p
{
    text-align: center;
}
button
{
    padding: 8px;
    margin: 10px;
}
article
{
    background:rgb(128, 128, 245);
    width: 70%;
    float: left;
    height: 200px;
}

footer
{
    clear: both;
    position: relative;  
    height: 550px;
   left:70%;
}
footer a
{
    font-size: 12px;
    color: white;
    text-decoration: none;
    margin: 5px;
}
footer a:hover
{
    color: black;
}

.container
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30%;
    /* height: 400px; */
      
}
.container .card
{
    width: 40vw;
    /* height: 400px ; */
    margin: 30px;
    box-shadow: 20px 20px 50px rgb(0, 0, 0,1);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid rgb(248, 248, 248, 0.5);
    backdrop-filter: blur(4px);
  
}
.content
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.text-field
{
    width: 100%;
    height: 80%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin: 10px auto 10px;
    font-size: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.content input:focus
{
    outline: none;
}
.content h1
{
    color: white;
    text-shadow: 2px 2px 5px black;
    font-size: 1rem;
    margin-bottom: 40px;
}
.form-input button
{
    width: 200px;
    background: rgb(255, 255, 255, 0);;
    border: none;
    border: 1px solid rgb(2, 2, 2, 0.5);
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px auto 10px;
}
.form-input button:hover
{
   background: white; 
   color: black;
   font-weight: bold;
}
#copyright{
    color: black;
    margin-bottom: 7%;
    text-decoration: none;
}