body{
    background-color: #F0F8FF;
}
.slot_num{
    width: 100%;
    height: 80%;
    border-radius: 10px;
    background-color: red;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border:none;
    margin-top: 20%;
}
button a{
    text-decoration: none;
    color: black;
}
#parking_lot{
    background-color: gray;
    margin-top: 3%;
    height: 70%;
}
#logout_button a:hover{
    color: white;
    
}
#logout_button:hover{
    background-color: black;
}
#logout_button a{
    color: white;
}